In [1]:
""" Import packages """
import sys
import logging
import warnings

import numpy as np
import pandas as pd

sys.path.insert(0, '../scripts/')

warnings.filterwarnings("ignore")

In [2]:
from explorer import DataTransformer

transformer = DataTransformer()

In [3]:
REPO = "../"
filepath = "data/cleaned/study_dataset.csv"
rev = "Cleaneddatav22mf"

In [4]:
data = transformer.load_data(ext="csv", filepath=filepath, repo=REPO, rev=rev, header=0, parse_dates=["Date"])
data.head()

,ISO3,Date,Target_1,Target_2,Target_3,Target_4,Target_5,Target_6,Target_7,Feature_1,...,Feature_14,Feature_17,Feature_19,Feature_22,Feature_24,Feature_27,Feature_31,Feature_32,Feature_33,Feature_34
0,BFA,2000-12-31,603.210999,235.128065,874.845987,25.571181,62.627879,450.176799,717.149334,2.55,...,0.098126,856.4,26.376096,178.7,2.983886,85.40,6.857565,0,0,0
1,BFA,2001-12-31,601.937744,256.009859,918.916428,27.686540,66.619251,469.845175,876.388458,2.97,...,0.087891,967.8,26.193348,174.7,3.040729,85.49,6.867020,0,0,0
2,BFA,2002-12-31,595.852051,260.730606,958.846796,29.485652,72.230232,505.134949,743.621255,2.90,...,0.083175,942.7,26.010599,170.2,3.074790,85.43,6.874386,0,0,0
3,BFA,2003-12-31,585.123291,271.081041,965.412955,29.644367,72.615529,508.274478,881.413820,2.60,...,0.081205,996.3,25.827851,165.0,3.104518,85.30,6.865103,0,0,0
4,BFA,2004-12-31,562.411316,264.250419,925.186169,27.621911,71.165711,498.971133,873.945620,3.00,...,0.077845,940.7,25.645102,159.1,3.138021,85.31,6.873132,0,0,0

In [5]:
data.groupby("ISO3")["Target_1"].describe()

,count,mean,std,min,25%,50%,75%,max
ISO3,,,,,,,,
BFA,23.0,491.800557,89.368269,366.081482,386.277756,526.309570,566.850250,603.210999
GHA,23.0,302.019299,92.007139,149.486949,219.186989,336.385345,368.483231,435.234741
KEN,23.0,100.709015,64.507782,45.101983,62.655340,68.770523,120.015617,241.661362
MWI,23.0,318.241759,86.288652,205.872437,226.650795,348.560852,374.595322,465.235626
NGA,23.0,353.339067,50.441099,292.542419,303.205706,350.502350,404.457748,418.038635

In [6]:
data.groupby("ISO3")["Target_2"].describe()

,count,mean,std,min,25%,50%,75%,max
ISO3,,,,,,,,
BFA,23.0,207.191440,57.666142,115.684877,144.560689,235.128065,252.140535,271.081041
GHA,23.0,118.237498,28.696006,77.641518,84.637069,128.568113,145.874553,149.446524
KEN,23.0,21.398216,13.411887,3.801867,12.347000,17.970083,29.483188,46.511828
MWI,23.0,67.497649,26.125561,38.649637,43.838158,54.492226,89.698119,116.916579
NGA,23.0,143.734082,29.389940,105.832529,111.834114,151.166375,171.690103,182.321327

In [7]:
data.groupby("ISO3")["Target_3"].describe()

,count,mean,std,min,25%,50%,75%,max
ISO3,,,,,,,,
BFA,23.0,713.493435,214.688268,366.792187,490.835994,825.552369,864.868547,965.412955
GHA,23.0,393.240031,104.165717,235.670478,284.219619,422.176834,483.471228,527.699358
KEN,23.0,88.893522,52.952601,18.957260,53.333858,71.177201,119.771524,185.830836
MWI,23.0,261.464592,118.468832,131.330988,156.069000,220.589236,329.327137,525.737773
NGA,23.0,481.895291,149.081813,256.320284,309.228948,533.777770,610.946099,644.207482

In [8]:
data.groupby("ISO3")["Target_4"].describe()

,count,mean,std,min,25%,50%,75%,max
ISO3,,,,,,,,
BFA,23.0,19.357880,6.913127,9.653670,11.827851,20.468685,24.911124,29.644367
GHA,23.0,17.452174,5.270585,10.122940,11.493836,18.408364,22.564823,24.115552
KEN,23.0,5.380379,3.341849,0.987445,3.035349,4.395713,7.751207,11.586990
MWI,23.0,16.200192,6.442644,9.481873,10.627730,13.600273,20.989538,29.395860
NGA,23.0,21.215537,4.646212,14.980479,15.821362,22.763435,25.097008,27.742034

In [9]:
data.groupby("ISO3")["Target_5"].describe()

,count,mean,std,min,25%,50%,75%,max
ISO3,,,,,,,,
BFA,23.0,57.194235,16.507476,31.722977,38.115395,66.619251,70.946591,73.386131
GHA,23.0,37.683790,8.926582,24.582364,26.881313,40.265929,44.593886,49.286504
KEN,23.0,5.674581,3.694212,0.910385,3.190138,4.797781,7.991467,12.450144
MWI,23.0,18.859035,6.732668,11.259833,12.734437,15.388520,24.873876,30.564416
NGA,23.0,42.525871,8.405513,31.727453,33.903108,44.576495,50.187468,54.677837

In [10]:
data.groupby("ISO3")["Target_6"].describe()

,count,mean,std,min,25%,50%,75%,max
ISO3,,,,,,,,
BFA,23.0,396.518905,122.004366,207.264874,255.891550,465.336487,497.475882,514.676864
GHA,23.0,212.954517,55.264620,131.737090,144.753122,228.800874,256.916021,284.430748
KEN,23.0,34.461762,23.006255,5.257832,19.004964,28.530803,48.934308,77.030810
MWI,23.0,117.107123,43.508844,68.230676,77.049298,94.328162,157.525283,189.493663
NGA,23.0,258.167387,55.788378,189.680263,201.748166,268.842628,308.718799,342.175260

In [11]:
data.groupby("ISO3")["Target_7"].describe()

,count,mean,std,min,25%,50%,75%,max
ISO3,,,,,,,,
BFA,23.0,685.791009,139.103500,478.920117,554.918162,717.149334,760.056143,881.413820
GHA,23.0,407.589929,97.025265,271.948535,304.946985,410.876036,485.643857,560.424066
KEN,23.0,52.322338,33.813230,6.931244,25.447959,49.636976,69.395166,122.511977
MWI,23.0,174.410457,59.015324,106.170815,127.814884,134.957921,229.535763,284.150556
NGA,23.0,461.165580,57.387838,342.503258,435.883932,472.024294,494.920904,587.861666